<div class="wrapper" [ngStyle]="{'background-color': menuColor}">

  <div class="main-menu-ico show-menu-btn">
    <i class="large material-icons start" (click)="showUser()">menu</i>
  </div>

  <a [routerLink]=" login ? '/user/' + login : '/'" class="home">
    <img src="{{ '../../assets/icons/home-' + (this.isLogin === 'true' ? 'in' : 'not') + '.png' }}" alt="h" class="main-menu-ico">
  </a>

  <a class="login" [ngClass]="logClass" [routerLink]="loginLink">
    <img src="../../assets/icons/main-logo.png" alt="l" class="main-menu-ico">
  </a>

  <div class="search" [class.search-animation]="showSearch">
    <input type="search" #searchField class="search-field" tabindex="1"
           [class.search-field-animation]="showSearch"
           placeholder="search..." title="Hold down 'Shift' to search by author" (input)="onSearch($event)">
    <img src="../../assets/icons/search.png" alt="s" class="main-menu-ico" (click)="onShowSearch()">
  </div>
</div>
<div *ngIf="foundSongs.length" class="search-result">
  <div *ngFor="let song of foundSongs" @showFound>
    <div *ngIf="song.type === 'song'">
      <a [routerLink]="song.href">
        <b>{{ song.artist }}</b> - {{ song.title }}
      </a>
    </div>
    <div *ngIf="song.type === 'user'">
      <a [routerLink]="song.href">
        <b>{{ song.tag }}</b>{{ song.author }}
      </a>
    </div>
    <div *ngIf="song.type === 'error'">
      {{ song.message }}
    </div>
  </div>
</div>

