.wrapper {
  margin-top: 12px;
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6px 6px;
  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .song {
    margin: 0 3px;
    padding-left: 6px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, .3);
    border-top-left-radius: 10px 50%;
    border-bottom-left-radius: 10px 50%;
    color: rgb(214, 242, 254);
    text-decoration: none;
    transition: background-color .3s, color .4s .05s;
    &:hover {
      background-color: rgba(214, 242, 254, .3);
      color: rgb(27, 35, 27);
      transition: background-color .6s, color .8s .1s;
    }
  }
}
