<form [formGroup]="form">
  <fieldset id="autho-field">
    <div>
      <button type="button" class="social-btn" (click)="doLoginWithGoogle()" [disabled]="loading">
        {{ 'sign_in_with' | translate: {social: 'Google'} }}
      </button>
    </div>
    <div>
      <button type="button" class="social-btn" (click)="doLoginWithFacebook()" [disabled]="loading">
        {{ 'sign_in_with' | translate: {social: 'Facebook'} }}
      </button>
    </div>
    <div>
      - {{ 'or' | translate | uppercase }} -
    </div>
    <div>
      <label for="email">
        <span>{{ 'email' | translate }}:</span>
        <input type="email" id="email" formControlName="email" #email required>
      </label>
    </div>
    <div>
      <label for="password">
        <span>{{ 'password' | translate }}:</span>
        <input type="password" id="password" formControlName="password" #password required autocomplete="current-password"
               pattern="[0-9a-z]{6,}|[0-9A-Z]{6,}|[0-9a-zA-Z]{6,}" [placeholder]="'password_placeholder' | translate">
      </label>
    </div>
    <div class="div-message">{{ message | translate }}</div>
    <div>
      <!--<button type="button" id="showReg" class="new" (click)="goReg()">New Account</button>-->
      <div class="div-message"
           *ngIf="form.invalid; else elseLogin">{{ 'input_data_to_continue_sign_in' | translate }}</div>
      <ng-template #elseLogin>
        <button type="button" id="authoBtn" class="social-btn"
                [disabled]="loading"
                (click)="doLoginWithEmailAndPassword($event)">
          {{ 'sign_in_with' | translate: {social: 'E-mail'} }}
        </button>
      </ng-template>
    </div>
  </fieldset>
</form>
<div class="lds-css ng-scope loading-spinner" *ngIf="loading">
  <div class="lds-gear" style="width: 100%; height: 100%">
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

