<form [formGroup]="form">
  <fieldset id="autho-field">
    <legend>SIGN IN</legend>
    <div>
      <button type="button" class="social-btn" (click)="doLoginWithGoogle()">Sign In with Google</button>
    </div>
    <div>
      <button type="button" class="social-btn" (click)="doLoginWithFacebook()">Sign In with Facebook</button>
    </div>
    <div>
      <label for="email">
        <span>Email:</span>
        <input type="email" id="email" formControlName="email" #email required>
      </label>
    </div>
    <div>
      <label for="password">
        <span>Password:</span>
        <input type="password" id="password" formControlName="password" #password required autocomplete="current-password"
               pattern="[0-9a-z]{6,}|[0-9A-Z]{6,}|[0-9a-zA-Z]{6,}" placeholder="min 6 chars, letters and numbers">
      </label>
    </div>
    <div class="div-message">{{ message }}</div>
    <div>
      <!--<button type="button" id="showReg" class="new" (click)="goReg()">New Account</button>-->
      <div class="div-message"
           *ngIf="form.invalid; else elseLogin">Input data to required fields to continue sign in</div>
      <ng-template #elseLogin>
        <button type="button" id="authoBtn" class="social-btn" (click)="doLoginWithEmailAndPassword($event)">Sign In with Email</button>
      </ng-template>
    </div>
  </fieldset>
</form>

