body {
    background: rgb(42, 49, 42);
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: "Guild Regular";
    src: url("../fonts/guild-main-menu.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Ubuntu Regular";
    src: url("../fonts/ubuntu-regular.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Erika Monospace";
    src: url("../fonts/erika-ormig-monospace.ttf");
    font-display: fallback;
}

#error {
    font-family: "Ubuntu Regular";
    font-size: 1.8em;
    color: aliceblue;
}

.loader {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}


@-webkit-keyframes cube-transition {
    25% {
        -webkit-transform: translateX(50px) scale(.5) rotate(-90deg);
        transform: translateX(50px) scale(.5) rotate(-90deg)
    }
    50% {
        -webkit-transform: translate(50px,50px) rotate(-180deg);
        transform: translate(50px,50px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateY(50px) scale(.5) rotate(-270deg);
        transform: translateY(50px) scale(.5) rotate(-270deg)
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@keyframes cube-transition {
    25% {
        -webkit-transform: translateX(50px) scale(.5) rotate(-90deg);
        transform: translateX(50px) scale(.5) rotate(-90deg)
    }
    50% {
        -webkit-transform: translate(50px,50px) rotate(-180deg);
        transform: translate(50px,50px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateY(50px) scale(.5) rotate(-270deg);
        transform: translateY(50px) scale(.5) rotate(-270deg)
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

.cube-transition {
    position: relative;
    -webkit-transform: translate(-25px,-25px);
    transform: translate(-25px,-25px)
}

.cube-transition>div {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #fff;
    -webkit-animation: cube-transition 1.6s 0s infinite ease-in-out;
    animation: cube-transition 1.6s 0s infinite ease-in-out
}

.cube-transition>div:last-child {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}