.wrapper-guitar {
  position: absolute;
  left: calc(21% + 6px);
  top: 3.3em;
  height: 33vmin;
  width: calc(78% - 12px);
  margin: 7px 5px 5px;
}

.guitar-canvas {
  width: 100%;
  height: 100%;
}

.strings-canvas, .info-canvas {
  width: 100%;
  height: 33vmin;
  position: absolute;
  top: 0;
  left: 0;
}
