.wrapper {
  background-color: rgba(0, 0, 0, .2);
  height: 1.5em;
  width: 100%;
  font-size: 1.5em;
  font-family: "Guild Regular", sans-serif;
  @media (min-width: 576px) {
    font-size: 2em;
  }
  @media (min-width: 992px) {
    font-size: 3em;
  }
  &:hover {
    background-color: rgba(0, 0, 0, .3);
  }
  .user-photo {
    display: inline;
    padding-bottom: 1.1em;
    width: 2em;
    overflow: hidden;
  }

  .user-photo > img {
    margin-left: 12px;
    cursor: pointer;
    width: 1.1em;
    height: 1.1em;
    opacity: .85;
    border-radius: 50% 50%;
    transform: scale(1);
    transition: border-radius .6s, transform .6s .4s, opacity .5s .1s;
    @media (min-width: 576px) {
      margin-left: 24px;
    }
    @media (min-width: 992px) {
      margin-left: 48px;
    }
  }

  .user-photo > img:hover {
    opacity: 1;
    border-radius: 25% 25%;
    transform: scale(1.15);
    transition: border-radius 1.2s, transform 1.2s .8s, opacity 1s .2s;
  }

  .user-name {
    max-width: calc(100% - 2em - 24px);
    color: rgb(214, 242, 254);
    position: absolute;
    right: 12px;
    @media (min-width: 576px) {
      max-width: calc(100% - 2em - 48px);
      right: 24px;
    }
    @media (min-width: 992px) {
      max-width: calc(100% - 2em - 96px);
      right: 48px;
    }
  }
}
