fieldset {
  background: rgba(0, 0, 0, .2);
  width: 90%;
  position: relative;
  left: calc(5% - 18px);
  @media (min-width: 576px) {
    width: 80%;
    left: calc(10% - 18px);
  }
  @media (min-width: 992px) {
    width: 60%;
    left: calc(20% - 18px);
  }
}

legend {
  background: rgba(0, 0, 0, .8);
  padding: 3px 6px;
  border-radius: 5px;
  text-align: left;
}

fieldset > div {
  margin: 10px 0;
  text-align: center;
}

label > span {
  position: absolute;
  right: calc(60% + 5px);
}

label > input {
  width: 50%;
  position: relative;
  left: 15%;
}

input:invalid:not(:focus) {
  outline: 1px solid #f00;
}

.btn-div {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-family: "Ubuntu Regular", sans-serif;
  color: rgba(0, 0, 0, .7);
}

.active-btn {
  color: rgb(0, 0, 0);
  text-decoration: underline rgba(0, 0, 0, .3);
}

.div-message {
  margin-top: 1em;
}
