<div class="track">
  <div class="front"
       [ngClass]="{'track-animation': isSelected}"
       [ngStyle]="{'transform': 'rotateX(' + angle + 'deg)', 'filter': 'brightness(' + brightness + ')'}"

       (mouseenter)="enterSong()" (mouseleave)="leaveSong()">

    <span (click)="navigateToSong()">
      <b>{{ song.artist }}</b> - {{ song.title }}
    </span>

  </div>

  <div class="back"
       [ngStyle]="{'transform': 'rotateX(' + (180 + angle) + 'deg)', 'filter': 'brightness(' + brightness + ')'}">

    <span (click)="navigateToSong()">
      <b>{{ song.artist }}</b> - {{ song.title }}
    </span>

  </div>
</div>

