<form [formGroup]="form">
  <fieldset id="autho-field">
    <legend>VERIFY</legend>
    <div>
      <label for="login">
        <span>Login:</span>
        <input type="text" id="login" formControlName="login" #login required>
      </label>
    </div>
    <div>
      <label for="password">
        <span>Password:</span>
        <input type="password" id="password" formControlName="password" #password required autocomplete="current-password"
               pattern="[0-9a-z]{6,}|[0-9A-Z]{6,}|[0-9a-zA-Z]{6,}" placeholder="min 6 chars, letters and numbers">
      </label>
    </div>
    <div>
      <label for="verify">
        <span>Verifying code:</span>
        <input type="text" id="verify" formControlName="verifyCode" #verify required>
      </label>
    </div>
    <div class="div-message">{{ message }}</div>
    <div class="btn-div">
      <div class="div-message"
           *ngIf="form.invalid; else elseLogin">Input data to required fields to continue verification</div>
      <ng-template #elseLogin>
        <button type="submit" id="verifyBtn" class="active-btn" (click)="doVerify($event)">Verify</button>
      </ng-template>
    </div>
  </fieldset>
</form>
