.track {
  perspective: 500px;
  font-size: 0.8em;
  @media (min-width: 576px) {
    font-size: 0.9em;
  }
  @media (min-width: 992px) {
    font-size: 1em;
  }
}

.front, .back {
  margin-left: 5px;
  margin-top: 2px;
  border-top-left-radius: 10px 50%;
  border-bottom-left-radius: 10px 50%;
  backface-visibility: hidden;
  padding-left: 10px;
  width: calc(100% - 20px);
  transition: padding-left .3s, width .3s, background-color .3s;
}

.front {
  box-shadow: 1px 1px 2px 0 rgba(127, 254, 142, .7);
  background-color: rgb(27, 35, 27);
}

.back {
  position: absolute;
  top: 0;
  box-shadow: 1px -1px 2px 0 rgba(127, 254, 142, .7);
  background: radial-gradient(at left, rgb(127, 254, 127) 10%, rgba(95, 254, 127, .75) 50%, rgba(95, 191, 127, .5));
}

a {
  display: block;
  text-decoration: none;
  overflow-wrap: break-word;
}

.front a {
  color: rgb(177, 207, 227);
}

.front b {
  color: rgb(127, 144, 154);
}

.back a {
  color: rgba(177, 207, 227, 0);
}

.back b {
  color: rgba(127, 144, 154, 0);
}

.track-animation {
  cursor: pointer;
  padding-left: 15px;
  width: calc(100% - 20px);
  background-color: rgb(27, 81, 72);
  transition: padding-left .6s, width .6s, background-color .6s;
}
