<div class="increased-text">
  <p [innerHTML]=" 'info_guitar_must_be_in_focus' | translate "></p>
  <dl>
    <p>
      <dt>{{ 'fingerboard' | translate }}</dt>
    <dd [innerHTML]=" 'info_draw_chord' | translate ">
    </dd>
    <dd>To make capo on fingerboard you have to press and release keys from <kbd>~</kbd> for capo 0 and
      <kbd>1</kbd>, <kbd>2</kbd> ... <kbd>+</kbd> for capo 1, 2 ... 12.
      Second press on one key take off capo from fingerboard.</dd>
    <dd>Also you can press any string with <kbd>Left&nbsp;🖰&nbsp;click</kbd>.
      Second click on one place on fingerboard release string that has pressed early.</dd>
    <dd><kbd>Right&nbsp;🖰&nbsp;click</kbd> press chord on string and play it.</dd>
    <dd><kbd>Middle&nbsp;🖰&nbsp;click</kbd> just play open string.</dd>
    <dd>Press <kbd>Delete</kbd> or <kbd>Backspace</kbd> to clear fingerboard and release all strings.</dd>
    </p>
    <p>
      <dt>Soundboard</dt>
    <dd>You can play strings on soundboard with keyboard's and mouse's key like on fingerboard.</dd>
    <dd><kbd>Any&nbsp;🖰&nbsp;click</kbd> on soundboard play selected string with pressed chord.</dd>
    <dd>For playing all strings to down with selected speed you have to press <kbd>↓</kbd>.</dd>
    <dd>For playing all strings to up with selected speed you have to press <kbd>↑</kbd>.</dd>
    <dd>For playing just one string with keyboard you have to press one of next keys:
      <kbd>p</kbd>, <kbd>o</kbd>, <kbd>i</kbd>, <kbd>l</kbd>, <kbd>k</kbd>, <kbd>m</kbd>.</dd>
    </p>
    <p>
      <dt>Areas with volume and speed</dt>
    <dd>For change volume you have to turn up or down <kbd>🖰&nbsp;wheel</kbd> on free area above fingerboard.
      Min volume = 0%, max volume = 100%.</dd>
    <dd>For change speed of playing all strings you have to turn up or down
      <kbd>🖰&nbsp;wheel</kbd> on free area below fingerboard. Min speed means that it's delay 210 ms before
      playing next string, when playing all of it (when you press <kbd>↑</kbd> or <kbd>↓</kbd>).
      Max speed means that this delay is 10 ms. And 1% of speed changing is 2 ms delay.</dd>
    </p>
  </dl>
  <hr>

  <p><strong>Attention!</strong> When guitar in focus all browser's keyboard's events (hotkeys) are disabled
    and you can't use it. For example, if you press <kbd>Ctrl</kbd>+<kbd>A</kbd> all text will not be selected,
    or if you press <kbd>Ctrl</kbd>+<kbd>S</kbd> web page will not be saved.
    But all keyboard's events (hotkeys) of your operation system stay enabled anyway,
    such as <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Esc</kbd> open Task Manager or
    <kbd>Ctrl</kbd>+<kbd>F4</kbd> close the active window in Windows operation system.
    That's why please use complex chords careful or disabled some hotkeys in your operation system.</p>

</div>
