<div class="increased-text">
  <p [innerHTML]=" 'info_guitar_must_be_in_focus' | translate "></p>
  <dl>
    <dt>{{ 'fingerboard' | translate }}</dt>
    <dd [innerHTML]=" 'info_draw_chord' | translate "></dd>
    <dd [innerHTML]=" 'info_draw_capo' | translate "></dd>
    <dd [innerHTML]=" 'info_left_click_string_fingerboard' | translate "></dd>
    <dd [innerHTML]=" 'info_right_click_string_fingerboard' | translate "></dd>
    <dd [innerHTML]=" 'info_middle_click_string_fingerboard' | translate "></dd>
    <dd [innerHTML]=" 'info_press_delete_fingerboard' | translate "></dd>
    <dt>{{ 'soundboard' | translate }}</dt>
    <dd [innerHTML]=" 'info_soundboard_play_strings' | translate "></dd>
    <dd [innerHTML]=" 'info_soundboard_mouse_click' | translate "></dd>
    <dd [innerHTML]=" 'info_soundboard_all_strings_down' | translate "></dd>
    <dd [innerHTML]=" 'info_soundboard_all_strings_up' | translate "></dd>
    <dd [innerHTML]=" 'info_soundboard_one_string' | translate "></dd>
    <dt>{{ 'info_areas_with_volume_and_speed' | translate }}</dt>
    <dd [innerHTML]=" 'info_change_volume' | translate "></dd>
    <dd [innerHTML]=" 'info_change_speed' | translate "></dd>
  </dl>
  <hr>

  <strong>{{ 'attention' | translate }}</strong>
  <p [innerHTML]=" 'info_attention_text' | translate "></p>

</div>
